.panel {
    margin: 95px 0 30px;

    &_nav {
        width: 40px;
        height: 40px;
        background: #2F293E;
        border-radius: 100%;
        color: #E2D8FD;
        font-size: 26px;

        &:hover {
            color: #D8BCFF;
        }
    }

    &_user {
        gap: 0 10px;
        width: 100%;

        &-link {
            width: 47px;
            height: 47px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;

            &.profile {
                background: #3F3655;
            }

            &.notifications {
                background: #2B2638;
                border: 1px solid rgba(217, 203, 255, 0.4);
                font-size: 22px;
                position: relative;
                color: #E2D8FD;

                &:after {
                    content: '';
                    position: absolute;
                    right: 6px;
                    top: 1px;
                    background: #E9001C;
                    width: 6px;
                    height: 6px;
                    border-radius: 100%;
                    transition: .4s ease-in-out;
                }

                &:hover {
                    color: #D8BCFF;

                    &:after {
                        transform: scale(1.4);
                    }
                }
            }
        }

        &-form {
            position: relative;
            width: 160px;
            flex-grow: 1;
            background: #2F293E;
            border-radius: 15px;
            padding-left: 20px;

            .field {
                font-size: 14px;
                color: #D8BCFF;
                padding-right: 30px;

                &::placeholder {
                    color: #E2D8FD;
                }

                &[disabled] {
                    &::placeholder {
                        opacity: 0;
                    }
                }
            }

            .btn {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 20px;
                color: #E2D8FD;

                &:hover {
                    color: #D8BCFF;
                }
            }
        }
    }
}

@media screen and (min-width: 575.98px) {
    .panel {
        margin: 107px 0 30px;

        &_user {
            &-form {
                margin-right: 50px;
            }
        }
    }
}

@media screen and (min-width: 767.98px) {
    .panel {
        margin: 0 0 30px;

        &_page {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
        }

        &_user {
            width: fit-content;
            &-form {
                max-width: 220px;
                width: 100%;
            }
        }
    }
}