.dotsLoader {
    height: 40px;
    width: 80px;
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out;

    &.show {
        opacity: 1;
        visibility: visible;
    }
}