.transactions {
    &_title {
        margin-bottom: 20px;
    }

    &_btn {
        background: linear-gradient(90deg, #AC6AEC 0%, #BB7FF5 100%);
        border-radius: 10px;
        height: 40px;
        gap: 0 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;

        svg {
            width: 20px;
            height: 22px;
        }
    }
}