@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "bootstrap/dist/css/bootstrap-grid";
@import "scss/base";
@import "scss/global";
@import 'atropos/atropos.scss';

body {
    background: #261E35;
    font-family: "Inter", sans-serif;
    color: #fff;
    height: 100vh;
}

.App {
    &_content {
        padding: 20px;

        &-grid {
            grid-gap: 20px;
            grid-template-columns: minmax(0, 1fr);
        }
    }
}

@media screen and (min-width: 767.98px) {
    .App {
        &_content {
            padding: 30px;
            flex-grow: 1;
        }
    }
}

@media screen and (min-width: 991.98px) {
    .App {
        &_content {
            &-grid {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@media screen and (min-width: 1399.98px) {
    .App {
        &_content {
            max-width: 1440px;
            margin: 0 auto;
            &-grid {
                grid-template-columns: repeat(2, minmax(0, 1fr)) 240px minmax(0, 1fr);
                grid-gap: 30px;
            }
        }
    }
}